/*
TODO:
    -Content width is fixed, Between 480-1200 Pixels pick a number in that range
    -Content becomes centered if page is wider than necessary
    -Navigation is across the top
    -Header must be a single line of text
    -Have at least 4 Navigation links
    -Links must not be underlined and must respond visually to `hover'
    -You pick the title and contents of the pages - there should be at least two paragraphs of text on each page
    -Color Scheme is
        #2703A6
        #593EA2
        #141259
        #F2B705
        #F29F05
*/

/* Index Styling */
.index_body {
    background-color:  #141259;
    color: #F2B705;
    text-align: center;
}

.index_nav {
    text-align: center;
    background-color: #2703A6;
    padding: 15px;
    overflow: hidden;
}

.index_nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    color: #F2B705;
    max-width: 720px;
    padding: 20px;
}

.index_nav a:hover {
    background-color: #593EA2;
}

.index_p2 {
    text-align: center;
    padding-left: 325px;
    padding-right: 325px;
}

/* East Page One Styling */
.east_page_one_body {
    background-color:  #141259;
    color: #F2B705;
    text-align: center;
}

.east_page_one_nav {
    text-align: center;
    background-color: #2703A6;
    padding: 15px;
    overflow: hidden;
}

.east_page_one_nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    color: #F2B705;
    max-width: 720px;
    padding: 20px;
}

.east_page_one_nav a:hover {
    background-color: #593EA2;
}

.east_page_one_p2 {
    text-align: center;
    padding-left: 325px;
    padding-right: 325px;
}

/* East Page Two Styling */
.east_page_two_body {
    background-color:  #141259;
    color: #F2B705;
    text-align: center;
}

.east_page_two_nav {
    text-align: center;
    background-color: #2703A6;
    padding: 15px;
    overflow: hidden;
}

.east_page_two_nav a {
    text-decoration: none;
    font-weight: bold;
    font-size: x-large;
    color: #F2B705;
    max-width: 720px;
    padding: 20px;
}

.east_page_two_nav a:hover {
    background-color: #593EA2;
}

.east_page_two_p2 {
    text-align: center;
    padding-left: 325px;
    padding-right: 325px;
}